# Worksheet 3: PostgreSQL data manipulation

In [ ]:
import numpy as np
import pandas as pd
%load_ext sql
%config SqlMagic.displaylimit = 20
%config SqlMagic.autolimit = 30

#### Exercise 1: Connect to the `dvdrental` Database and Data Type Conversion
1. **Connect to the `dvdrental` Database**:
   - Connect to the `dvdrental` database

In [ ]:

# load the credentials from the credentials.json file
import json
import urllib.parse

with open('data/credentials.json') as f:
    login = json.load(f)
    
username = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']

In [ ]:
%sql postgresql://{username}:{password}@{host}:{port}/dvdrental

Print out the first 10 rows of the `rental` table.

In [ ]:
%%sql
   # Your query here

List all columns and its data type in the `rental` table. 
> Hint: see the [lecture 4 notes for example](https://tru-dasc.github.io/DASC_5410_students/lectures/lecture4.html#connect-to-database)

In [ ]:
%%sql
   # Your query here

2. **Convert Between Data Types**:
   - Convert the `rental_date` column in the `rental` table to a string

In [ ]:
%%sql
   # Your query here


#### Exercise 2: Filtering Rows Using `WHERE`
1. **Filter Using `BETWEEN`**:
   - Filter the `payment` table where the `amount` is between 5 and 10.

In [ ]:
%%sql
   # Your query here

   - Filter the `payment` table where the `paymen_date` is between 2007-02-17 and 2007-02-18.

In [ ]:
%%sql
   # Your query here


2. **Filter Using `IN`**:
   - Select the rows from the `customer` table where the `first_name` is either 'Tracy' or 'Kelly'

In [ ]:
%%sql
   # Your query here


3. **Filter Using `LIKE`**:
   - Select the rows from the `customer` table where the `first_name` have 4 characters and ends with 'e'

In [ ]:
%%sql
   # Your query here

Select the rows from the `customer` table where 
   - `first_name` DO NOT ends with 'e' AND 
   - `last_name` starts with 'E'

In [ ]:
%%sql
   # Your query here


#### Exercise 3: Derived Columns
1. **Concatenate Columns**:
   - Concatenate the `first_name` and `last_name` columns and turn all into lower cases
   - Store them in a new column called `full_name`

In [ ]:
%%sql
   # Your query here


2. **Arithmetic Operations**:
   - Calculate the payment amount assuming a discount rate of 15%
   - Store them in a new column called `discount_payment`

In [ ]:
%%sql
   # Your query here


#### Exercise 4: Conditional Logic with `CASE`
1. **Categorize Customers Based on Active Status**:
   - Create a derived column called `status` to categorize customers as 'Active' or 'Inactive' based on column `active`.
   - Note that `active` == 0 means the customer was inactive and vice versa

In [ ]:
%%sql
   # Your query here


2. **Categorize Payments Based on Amount**:
   - Create a derived column called `amount_category` to categorize payments as 'Low' (<5), 'Medium' (5-10), or 'High' (>10) based on the `amount` and display the first 10 rows.

In [ ]:
%%sql
   # Your query here



#### Exercise 5: Using Built-in Functions
1. **Date Functions**:
   - Extract the month from the `rental_date` column
   - The month should be displayed in full month name (e.g., May, June)
   - Store them in a new column called `rental_month`

> Hint: You can use [TO_CHAR()](https://www.postgresql.org/docs/current/functions-formatting.html) to converts the rental_date to a string representing the full month name.

In [ ]:
%%sql
   # Your query here


2. **String Functions**:
   - Convert the `first_name` column to uppercase and display the first 10 rows.

In [ ]:
%%sql
   # Your query here


3. **Aggregate Functions**:
   - Calculate the total amount of payments by summing up the `amount` column as `total_pay`.

In [ ]:
%%sql
   # Your query here

## Submission instructions

{rubric: mechanics = 5}

- Make sure the notebook can run from top to bottom without any error. Restart the kernel and run all cells.
- Commit and push your notebook to the github repo
- Double check your notebook is rendered properly on Github and you can see all the outputs clearly
- Submit URL of your Github repo to Moodle under worksheet 3